<ion-header>
  <ion-toolbar>

    <ion-row>
      <ion-col>

        <ion-segment value="custom" (ionChange)="trocar($event)" >

          <ion-segment-button value="a">
            <ion-label>Lista</ion-label>
          </ion-segment-button>

          <ion-segment-button value="b">
            <ion-label>Inserir</ion-label>
          </ion-segment-button>

        </ion-segment>

      </ion-col>
    </ion-row>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  

</ion-content>



